
body {
  background-color: #d7dde5;
  text-align: center;
}

h1 {
  font-family: 'Helvetica',Arial,sans-serif;
  color: gray;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
