<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <main>
    <div class="page-header">
      <h1>Here's my databas..</h1>
    </div>
    
  </main>

</body>

</html>