<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <main>
    <div class="page-header">
      <h1>Hi, I'm Anna.</h1>
    </div>
    <div class="queen-of-computers">
      <iframe src="/images/ap_headshot1.jpg" width="480" height="250" frameBorder="0"  allowFullScreen></iframe>

    </div>
  </main>

</body>

</html>