<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

    <main>
      <div class="page-header">
        <h1>My Projects</h1>
      </div>
    <div class="jumbotron">
      <p>Welcome to my personal website, where there are lots of interesting things to see.</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/atperko/BaseWebApp" target="_blank" role="button">See my repo</a></p>
    </div>
  </main>

</body>

</html>